<div class="container">
    <ng-container *ngIf="!loading; then wordsList else loader"></ng-container>

    <ng-template #wordsList>
        
        <ng-container *ngIf="words.length; then content else addWordsInfo"></ng-container>

        <ng-template #content>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let word of words | slice: lowValue : highValue; let i = index " class="list-item">
                    <div class="wordToTranslate">
                        {{word.wordInEnglish}} -
                    </div>
                    <div *ngFor="let translation of word.translation"> 
                        <span>&nbsp; {{translation}} </span>
                    </div>
                    <span class="spacer"></span>
                    <span class="material-icons icon" (click)="deleteWord(word.id, i)">clear</span>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>

            <mat-paginator 
                [length]="words.length" 
                [pageSize]="pageSize" 
                (page)="getPaginatorData($event)"
                class="paginator">
            </mat-paginator> 
        </ng-template>

        <ng-template #addWordsInfo>
            <div class="info">
                Add some words to your dictionary.
            </div>
        </ng-template>

    </ng-template>
    <ng-template #loader>
            <mat-spinner class="spinner"></mat-spinner>
    </ng-template>
</div>
