@import "./core/variables";

.container {
    min-height: 730px;
    margin: 1rem auto;
    position: relative;
}

.wordToTranslate {
    font-size: 1rem;
    font-weight: bold;


    @media (min-width: $break-point-768) {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.list-item:hover {
    background-color: #eeeeee;
} 

.spacer {
    flex: 1 1 auto;
}

.icon {
      cursor: pointer;
      opacity: 0;

      &:hover {
        transform: scale(1.5);
      }
}

.list-item:hover .icon {
    opacity: 1;
} 

.paginator {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.spinner {
    margin: 2rem auto;
}

.info {
    font-size: 2rem;
    color: $color-error;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
}
