.container {
    width: 90%;
    min-height: 730px;
    padding: 1em;
    margin: 1em auto;
    position: relative;
}

.wordToTranslate {
    font-weight: 400;
    font-size: 1.5rem;
}

.list-item:hover {
    background-color: #eeeeee;
} 

.spacer {
    flex: 1 1 auto;
  }

  .icon {
      cursor: pointer;
      opacity: 0;
  }

  .list-item:hover .icon {
    opacity: 1;
} 

.icon:hover {
    transform: scale(1.5);
}

.paginator {
    position: absolute;
    bottom: 0;
    width: 100%;
}
