@import "./core/mixins/base-form";
@import "./core/variables";

.form {
    @include baseFormMobile;

    &-field {
      width: 100%;
      padding: 1rem 0;
    }

    &-error {
      color: red;
      padding: .5em;
      margin: .5em;
    }

    &-button {
      width: 100%;
      padding: .5rem;
    }

    @media (min-width: $break-point-768) {
      @include baseFormDesktop;
    }
}

.spinner {
  margin: 0 auto;
}

