<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
    <mat-form-field class="field">
      <mat-label>Enter your e-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
      
    <mat-form-field class="field">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

    <button mat-button color="primary">Login</button>
  </form>
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
</div>