@import "./core/variables";

.container {
    width: 95%;
    margin: 2rem auto;

    @media (min-width: $break-point-768) {
        width: 90%;
    }
}

.quiz-overall {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.quizes {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    flex-direction: column;

    @media (min-width: $break-point-768) {
        flex-direction: row;
    }
}

.quiz {
    width: 100%;
    padding: 1rem;

    &-title {
        font-size: 2.5rem;
        font-weight: 400;
        padding: 1rem;
    }

    &-item {
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem;
    }

    @media (min-width: $break-point-768) {
        width: 47%;
    }
}

.spinner {
    margin: 0 auto;
}

.info {
    font-size: 2rem;
    color: $color-error;
    font-weight: 300;
    text-align: center;
    margin: 2rem;
}
