<div class="container">
    <div *ngIf="!displayResults; else renderResults">
        <div *ngIf="selectionMode; else testMode">
            <div class="info" *ngIf="!enoughElements">
                Please add at least 10 words to your dictionary.
            </div>
            <div *ngIf="enoughElements">
                <div class="ripple-container"
                    matRipple
                    [matRippleCentered]="true"
                    [matRippleDisabled]="false"
                    [matRippleUnbounded]="false"
                    (click)="modeSelection(true)">
                    ABCD Test
                </div>
                <div class="ripple-container"
                    matRipple
                    [matRippleCentered]="true"
                    [matRippleDisabled]="false"
                    [matRippleUnbounded]="false"
                    (click)="modeSelection(false)">
                    Translation Test
                </div>
            </div>
        </div>
        <ng-template #testMode>   
            <app-quiz
                [words]="words"
                [abcdQuiz]="isAbcdQuiz"
                (emitResults)="onResults($event)"
            ></app-quiz>
        </ng-template>
    </div>
    <ng-template #renderResults>
        <div *ngIf="quizResults.abcdQuizMode; else translationMode">
                JESTEM W abcd !!!!!!
                <button (click)="displayResults=!displayResults">SELECT MODE</button>
        </div>
        <ng-template #translationMode>

        </ng-template>
    </ng-template>
</div>