@import "..//colors";
@import "../typography";
@import "../variables";



// ############ GLOBALNE STYLE, KTORE BYLY W STYLES.SCSS
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box}

.mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}
