.container {
    width: 90%;
    margin: 1em;
    padding: 1em;
}

form {
    display: flex;
    align-items: center;
}

.field-one {
    width: 30%;
    margin: .5em;
}

.field-two {
    width: calc(50% - 4em);
    margin: .5em;
}

button {
    width: 20%;
    height: 4.5em;
    margin: 0 .5em 1.25em;
}
