.container {
    margin: 1em;
    padding: 1em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__field {
        margin: .5em;

        &--one {
            width: 30%;
        }

        &--two {
            width: calc(50% - 4em);
        }
    }
}

button {
    width: 20%;
    height: 4.5em;
}
