@import "./core/variables";

.spinner {
    margin: 2rem auto;
}

form {
    width: 100%;
    margin: 2rem auto;

    @media (min-width: $break-point-768) {
        width: 80%;
        margin: 2rem auto;
        padding: 2rem;
    }
}

.quiz-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: .8rem;
    width: 25%;
    text-align: center;

    @media (min-width: $break-point-768) {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

.answer-input {
    width: 75%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 100%;
    min-height: 5rem;
    margin: 1rem 0;

    @media (min-width: $break-point-768) {
        width: 20%;
    }
}
