<div class="container">
    <ng-container *ngIf="loading; then spinner; else content"></ng-container>

    <ng-template #spinner>
        <mat-spinner class="spinner"></mat-spinner>
    </ng-template>

    <ng-template #content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
            <div formArrayName="items" *ngFor="let item of formData.controls; let i = index;">
                <div [formGroupName]="i" class="quiz-item">
                    <span class="question">{{quizItems[i].question}} :</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <mat-label>your answer...</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
            </div>

            <div class="button-container">
                <button mat-button color="primary">Submit</button>
            </div>
        </form>
    </ng-template>
</div>