<div class="container">
    <ng-container *ngIf="loading; then spinner else content"></ng-container>

    <ng-template #spinner>
        <mat-spinner class="spinner"></mat-spinner>
    </ng-template>

    <ng-template #content>
        <div *ngFor="let item of quizItems; let i = index" class="quiz-item">
            <label class="question-label">{{item.question}}</label>
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let option of item.options" [value]="option" (change)="onSelect(item, option, i)">
                    {{option.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="button-container">
            <button mat-button class="submit-button" (click)="submitQuiz()">Submit</button>
        </div>
    </ng-template>
</div>